<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tsinjo</title>
</head>
<body>
  <h1>Dons et Aides (Tsinjo)</h1>
  <form th:action="@{/tsinjo/donate}" method="post" th:object="${newDonationForm}">
    <input type="text" th:field="*{fullName}" placeholder="Nom complet" required />
    <input type="email" th:field="*{email}" placeholder="Email" required />
    <input type="text" th:field="*{paymentMethod}" placeholder="Moyen de paiement" required />
    <input type="text" th:field="*{paymentReference}" placeholder="Référence paiement" required />
    <button type="submit">Donner</button>
  </form>
  <hr/>
  <h2>Dons</h2>
  <ul>
    <li th:each="don : ${donations}">
      +<span th:text="${don.payment.amount}"></span>Ar (<span th:text="${don.payment.status}"></span>,
      <span th:text="${don.payment.method}"></span>),
      <span th:text="${#dates.format(don.payment.date, 'dd/MM/yy')}"></span>,
      par <span th:text="${don.donor.fullName}"></span>(<span th:text="${don.donor.email}"></span>)
    </li>
  </ul>
  <h2>Aides</h2>
  <ul>
    <li th:each="help : ${helps}">
      -<span th:text="${help.payment.amount}"></span>Ar (<span th:text="${help.payment.status}"></span>,
      <span th:text="${help.payment.method}"></span>),
      <span th:text="${#dates.format(help.payment.date, 'dd/MM/yy')}"></span>,
      pour <span th:text="${help.beneficiary.fullName}"></span>(<span th:text="${help.beneficiary.email}"></span>) -
      <i th:text="${help.description}"></i>
    </li>
  </ul>
</body>
</html>
